@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --app-bg: rgba(16 18 27 / 40%);
  --theme-color: #f9fafb;
  --btn-bg: #21242d;
  --gray: #333;
  --blue: #0367a6;
}
.light-mode {
  --app-bg: rgba(65, 65, 65, 0.479);
  --theme-color: #000000;
  --btn-bg: #f7f7f7;
  --blue: #009afa;
  --gray: #cacaca;
}

.dark-button {
  position: fixed;
  bottom: 45px;
  right: 45px;
  background-color: var(--btn-bg);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
}
.dark-button svg {
  width: 45px;
  flex-shrink: 0;
  fill: #ffce45;
  stroke: #ffce45;
  transition: 2s;
}
.light-mode .dark-button svg {
  fill: transparent;
  stroke: var(--theme-color);
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  min-height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
}
body.light-mode:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.72) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}

.app {
  background-color: var(--app-bg);
  border-radius: 14px;
  width: 100%;
  height: 90%;
  max-width: 750px;
  max-height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
  position: absolute;
}

.container__form {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.choose {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.swap .choose {
  transform: translateX(100%);
  opacity: 0;
}

.result {
  left: 50%;
  z-index: 1;
}

.container.swap .result {
  transform: translateX(100%);
  opacity: 1;
}

.container__overlay {
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 0.6s ease-in-out;
  width: 50%;
  z-index: 100;
}

.app.swap .container__overlay {
  transform: translateX(-100%);
}

.overlay {
  background: url("https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  left: -100%;
  position: relative;
  transition: 0.6s ease-in-out;
  width: 200%;
}

.app.swap .overlay {
  transform: translateX(50%);
}

.overlay__panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 50%;
}

.overlay--right {
  right: 0;
}

.btn {
  background-color: var(--blue);
  border-radius: 20px;
  border: 1px solid var(--blue);
  color: var(--theme-color);
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.9rem 2rem;
}

.form {
  padding: 2vh;
  color: var(--theme-color);
}
.title {
  color: var(--theme-color);
  font-size: 2em;
  font-weight: 900;
  margin: 0.5em;
    display: flex;
  justify-content: center;
  align-items: center;
}
.form input[type="text"] {
  width: 50%;
  padding: 0.4em 0.6em;
  border-radius: 10px;
  border: 1px solid var(--gray);
  background-color: var(--gray);
  color: var(--theme-color);
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em auto 0.2em auto;
}
.form .bottom{
  bottom: 0;
  position: absolute;
}
.form .bottom .live-btn {
  background-color: var(--blue);
  color: var(--theme-color);
  border: 1px solid var(--blue);
  padding: 2vh 5vh;
  font-size: 1.5em;
  border-radius: 20px;
  margin: 0.5em auto; 
  cursor: pointer;
}
.form .optional {
  font-size: 0.6em;
  font-weight: 100;
}


/* result css */
.form2{
  padding: 4vw;
  margin: 10px;
  color: var(--theme-color);  
}
  
.form2 .temp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6em;
  font-size: 3em;
  font-weight: 600;
}
.form2 div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form2 span{
  font-size: 1.5em;
  font-weight: 600;
}

/* size */
@media screen and (max-width: 992px) {
  .app {
    width: 100%;
    height: 100%;
    max-width: 90%;
    max-height: 70%;
    font-size: 2vw;
  }
  .form2 {
    padding: 0vw;
  }
  body {
    padding: 0em;
  }
  .dark-button {
    bottom: 120px;
    right: 120px;
  }
  .dark-button svg {
    width: 60px;
  }
  .form .bottom .live-btn {
    padding: 2vh 3vh;
    font-size: 2vh;
  }
  .btn {
    font-size: 2rem;
    padding: 2rem 5rem;
  }
  .title {
    font-size: 2em;
    font-weight: 1000;
    text-decoration: underline 2px;
  }
}
